header {
    background-color: #c1ceb8;
    margin: 0em;
}


/* Main box containing web page content */

main {
    display: inline-block;
    background-color: white;
    width: 80%;
    margin-left: 2em;
    padding: 1em;
    margin-top: 2em;
}

main.login {
    display: inline;
    width: 20em;
    height: 15em;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

form.login {
    margin: 1em 2em;
}


/* Left navigation bar */

nav.email-nav {
    display: inline-block;
    float: left;
    width: 10em;
}

div.chat_menu {
    display: inline-block;
    float: left;
    width: 10em;
}


/* Footer is always at the bottom of the page */

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: white;
    /* Footer text is centred */
    text-align: center;
}


/* Basic vertical navigation box */

ul.basic-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    margin-top: 2em;
}

li.basic-nav a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    width: 80%;
    text-decoration: none;
}


/* Search bar in top header */

.email_search {
    float: right;
    display: block;
    margin: 1em;
}

.email_search input[type=search] {
    height: 2em;
    width: 30em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-right: 0px;
    border-radius: 0.5em 0 0 0.5em;
    font-size: 1em;
    background-color: white;
    background-image: url('../img/icons/search.png');
    background-size: 1.5em;
    background-position: 0.5em 0.25em;
    background-repeat: no-repeat;
    padding: 1em 2em 1em 3em;
}

.email_search input[type=search]:focus {
    outline: none;
}


/* Advanced Search button */

.advanced_search_button {
    float: right;
    display: block;
    border: 2px solid #ccc;
    border-left: 0px;
    border-radius: 0 0.5em 0.5em 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 1em -1em;
    margin-right: 1em;
    cursor: pointer;
    background-color: white;
    background-image: url('../img/icons/dropdown_arrow.png');
    background-size: 2em;
    background-repeat: no-repeat;
    padding: 1em 1em 1em 1em;
    outline: none;
}


/* Logo for header  */

.logo {
    height: 3.5em;
    margin: 0.3em;
    float: left;
}


/******************settings button**********************/

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 3.5em;
    margin: 0.3em;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #BDB76B;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}


/****************************************/


/* Message dialogs */

div.message_box {
    margin: 10px 0px;
    padding: 12px;
    /* To show, use JS to change DOM (set text and set visibility) */
    /*display: none;*/
}

div.message_box {
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 33px;
    color: white;
    text-align: center;
    padding: 10px 20px;
    opacity: 0;
    z-index: 99999;
    transition: transform .25s, opacity .25s, top .25s;
    box-sizing: border-box;
}

div.warning_message {
    color: #9F6000;
    background-color: #FEEFB3;
}

div.error_message {
    color: #D8000C;
    background-color: #FFBABA;
}

div.success_message {
    color: #4F8A10;
    background-color: #DFF2BF;
}

div.info_message {
    color: #00529B;
    background-color: #BDE5F8;
}

.message_box i {
    margin: 10px 22px;
    font-size: 2em;
    vertical-align: middle;
}

.message_box {
    opacity: 1;
    animation: fadeinout 4s linear;
}

@keyframes fadeinout {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}


/*.message_box.fadeout {
	animation-delay: 2s;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden .visible.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}*/


/*@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}*/


/* Chat/Instant Messaging */

div.chat_menu div.chat_box {
    overflow: scroll;
    height: 5em;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.pull-right {
    float: right !important;
}

ul.chat-nav {
    margin-top: 0em;
}

i.warning_icon {
    icon: url(/img/icons/warning.png);
}

th {
    text-align: left;
}

#page_title {
    padding: 0.5em 1em;
}

body {
    background-image: url("../img/backgrounds/01.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    -webkit-transition: background-image 4s ease-in-out;
    transition: background-image 4s ease-in-out;
}


/* Email table */

tbody.email {
    display: block;
}

table.email-inbox tbody, table.email-inbox {
    display: block;
    width: 100%;
}

table.email-inbox tbody {
    height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
}

thead tr th {
    height: 30px;
}

tbody td:last-child, thead th:last-child {
    border-right: none !important;
}

td, th {
    width: 20em;
    padding: 0.5em 1em;
}


/* Email table border raduis */

thead tr th:first-child {
    border-radius: 0.6em 0 0 0.6em;
}

thead th:last-child {
    border-radius: 0 0.6em 0.6em 0;
}

tbody tr td:first-child {
    border-radius: 0.6em 0 0 0.6em;
}


/* End of Email table border raduis */

tbody td:last-child {
    border-radius: 0 0.6em 0.6em 0;
}


/* Normal email table colours */

tbody.read_email tr.read_email td.read_email {
    background: lightgray;
    color: #81b71a;
}

thead.read_email tr.read_email th.read_email {
    background: lightgray;
    color: #81b71a;
}


/* End of normal table colours */


/* Hover colours */


/* Change the link color on hover */

li a:hover {
    background-color: #555;
    color: white;
}

tbody.read_email tr.read_email:hover td {
    background: #303030;
    color: #81b71a;
}

tbody.read_email tr.read_email:hover td:first-child {
    border-radius: 0.6em 0 0 0.6em;
}

tbody.read_email tr.read_email:hover td:last-child {
    border-radius: 0 0.6em 0.6em 0;
}


/* End of hover colours */

div.email-list {
    width: 100%;
}

table.email-inbox {
    width: 100%;
}


/* Modal style (chat and compose email pop-up windows) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The close button at top rght of modal window*/

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Advanced Search modal */

.folder_select {
    margin: 1em;
}

.advanced_search_modal {
    z-index: 0;
    /* Sit on top */
    left: 0em;
    top: 0em;
    width: 60%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0);
    /* Black w/ opacity */
}

.advanced_search_modal input[type="advanced_search_text"] {
    margin: 0.5em;
}


/* Message read*/

button.styled {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button.styled:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

button.styled:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}


/* Set widths of table columns for inbox etc. */

td.actions, th.actions {
    width: 10em;
}

td.select, th.select {
    width: 4em;
}


/* End of Set widths of table columns for inbox etc. */


/* When reading an email, align the title td elements to the right */

td.read_email_param {
    text-align: right;
    width: 10em;
}
