header {
    background-color: #c1ceb8;
    margin: 0em;
}


th {
    text-align: left;
}

#page_title {
    padding: 0.5em 1em;
}

.email_search {
	float: right;
    display: block;
    margin: 1em;
}

body {
    background-image: url("../img/backgrounds/01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

table {
    border-spacing: 0 0.1em;
}

th, td {
    padding: 0.5em 1em;
}

thead tr th {
    background: #181818;
    color: #81b71a;
}

thead tr th:first-child {
    border-radius: 0.6em 0 0 0.6em;
}

thead th:last-child {
    border-radius: 0 0.6em 0.6em 0;
    background: #181818;
    color: #81b71a;
}

tbody tr td {
    background: #181818;
    color: #81b71a;
}

tbody tr td:first-child {
    border-radius: 0.6em 0 0 0.6em;
}

tbody td {
    background: #181818;
    color: #81b71a;
}

tbody td:last-child {
    border-radius: 0 0.6em 0.6em 0;
}

tbody tr:hover td {
    background: #303030;
    color: #81b71a;
}

tbody tr:hover td:first-child {
    border-radius: 0.6em 0 0 0.6em;
}

tbody tr:hover td {
    background: #303030;
    color: #81b71a;
}

tbody tr:hover td:last-child {
    border-radius: 0 0.6em 0.6em 0;
}


/* Checkbox to select email */
.email-checkbox {
    width: 40px;
    height: 40px;
    background: #ddd;
    margin: 20px 90px;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.email-checkbox label {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    background: #333;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.email-checkbox input[type=checkbox]:checked+label {
    background: #26ca28;
}

nav.email-nav {
	display:inline-block;
	float: left;
	width: 10em;
}

div.email-list {
	width: 70%;
}

ul.email-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    margin-top: 2em;
}

li.email-nav a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    width: 80%;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

main {
	display: inline-block;
	background-color: grey;
	border-radius:1em;
	margin: 1em 2em;
}


 /* Modal style (chat and compose email pop-up windows) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


/* The close button at top rght of modal window*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
