<!-- The Compose Modal -->
<div id="compose_modal" class="modal">
	<!-- Modal content -->
	<div class="modal-content">
		<span class="close" id="compose_modal_close">&#215;</span>
		<form method="post" action="/smtp_send" id="form_compose">
			<table>
				<tr>
					<td>To:</td><td><input id="compose_to_field" type="email" name="compose_to" multiple="" /></td>
				</tr>
				<tr>
					<td>CC:</td><td><input id="compose_cc_field" type="email" name="compose_cc" multiple="" /></td>
				</tr>
				<tr>
					<td>BCC:</td><td><input id="compose_bcc_field" type="email" name="compose_bcc" multiple="" /></td>
				</tr>
				<tr>
					<td>Subject:</td><td><input id="compose_subject_field" type="text" name="compose_subject" multiple="" /></td>				
				</tr>
				<tr>
					<td>From:</td><td><input id="compose_from_field" type="email" name="compose_from" value="<%=user.email%>" readonly=""/></td>
				</tr>
			</table>
			<textarea form="form_compose" name="compose_content" style="width: 300px; height: 200px;"></textarea>
			<br/>
			<input type="file" class="styled" multiple="" />
			<button class="styled">Send</button>
		</form>
	</div>
	<!-- modal-content -->
</div>
<!-- End compose modal-->