<!-- Write reply section -->
<div id="reply_content">
	<form class="reply_form" id="form_reply" method="post" action="/smtp_reply">
		<h1>Reply</h1>
		<table>
			<tr>
				<td>To:</td>
				<td><input id="reply_to_field" type="email" name="reply_to" multiple="" /></td>
			</tr>
			<tr>
				<td>CC:</td>
				<td> <input id="reply_cc_field" type="email" name="reply_cc" multiple="" /></td>
			</tr>
			<tr>
				<td>BCC:</td>
				<td> <input id="reply_bcc_field" type="email" name="reply_bcc" multiple="" /></td>
			</tr>
			<tr>
				<td>Subject:</td>
				<td><input id="reply_subject_field" type="text" name="reply_subject" /></td>
			</tr>
			<tr>
				<td>From:</td>
				<td><input id="reply_from_field" type="email" name="reply_from" value="<%=user.email%>" readonly="" /></td>
			</tr>
		</table>
		<textarea class="reply_box" form="form_reply" name="reply_content" rows="20" cols="60"></textarea>
		<input id="original_content" type="hidden" name="reply_content" value="" />
		<input id="reply_name" type="hidden" name="name" value="reply" />
		<br/>
		<button type="submit" id="send_reply_btn" class="styled">Send Reply</button>
	</form>
	<button id="cancel_reply_btn" class="styled">Cancel Reply</button>
</div>
<!-- End write reply section -->
