# Ignore log files
*.log

#Ignore node_modules directory
node_modules/

#Ignore gedit temp files
*.*~

#Ignore config file (has passwords and stuff)
config.js

#Ignore build directory used by Gulp
build/
