<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta charset="utf-8" />

	<title>Email Client</title>
	<meta name="description" content="Email client"/>
	<meta name="author" content="Cameron A. Craig, Stuart J. Thain, Aidan P. Gallagher, Lee A. Hamilton" />

	<link rel="stylesheet" href="css/style.css" />
	<script src="js/head.js"></script>

	<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<% include ../public_html/html/header.html %>
	<% include ../public_html/html/nav.html %>
	<main>
		<div class="email-list">

				<button class="styled smaller_styled" type="button">Select All</button>
				<button class="styled smaller_styled" type="button">Mark as read</button>
				<button class="styled smaller_styled" type="button">Mark as unread</button>
				<button class="styled smaller_styled" type="button">Mark as important</button>
				<button class="styled smaller_styled" type="button">Delete selected</button>

			<table class="email-inbox email">
				<thead class="read_email">
					<tr class="read_email">
						<th class="read_email select">
							Select
						</th>
						<th id="email_col_2" class="read_email from">From</th>
						<th class="read_email subject">Subject</th>
						<th class="read_email time">Time</th>
						<th class="read_email actions">Actions</th>
					</tr>
				</thead>
				<tbody id="email_table_body" class="email read_email email-list-scroller">
					<script>
						var emails = [{
								"message_id": "123",
								"subject": "Cottage Cheese",
								"content": "Dear Aidan,\r\nThe finest Cheese in all the land.\r\nCheers, Cheese Company Ltd.",
								"to": "aidan@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/10/1994 05:35",
							},
							{
								"message_id": "124",
								"subject": "Important Meeting",
								"content": "Test Content",
								"to": "stuart@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/10/2008 05:35"
							},
							{
								"message_id": "125",
								"subject": "Please fill in this survey",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "126",
								"subject": "Free Amazon Voucher (after Questionnaire)",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "127",
								"subject": "Subjective Ideas",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "128",
								"subject": "Important Content",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "129",
								"subject": "RE: Job Offer",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "130",
								"subject": "Test Subject",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "131",
								"subject": "Test Subject",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "132",
								"subject": "Test Subject",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "133",
								"subject": "Test Subject",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "134",
								"subject": "Test Subject",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "135",
								"subject": "Test Subject",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "136",
								"subject": "Test Subject",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "137",
								"subject": "Test Subject",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "138",
								"subject": "Test Subject",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "139",
								"subject": "Test Subject",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "140",
								"subject": "Test Subject",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							},
							{
								"message_id": "141",
								"subject": "Test Subject",
								"content": "Test Content",
								"to": "cameron@to.com",
								"cc": "cctest@test.com",
								"bcc": "cctest@test.com",
								"from": "from@from.com",
								"time": "24/01/2017 05:35"
							}
						];
					</script>
					<script src="js/write_inbox.js"></script>
				</tbody>
			</table>
		</div>
		<!-- email-list-->
	</main>

	<% include ../public_html/html/help_modal.html %>

	<% include ../public_html/html/compose_modal.html %>

	<!-- The Read Email Modal -->
	<div id="read_email_modal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close" id="read_email_modal_close">&#215;</span>
			<div style="display:flex;">
				<div>
					<table>
						<tr>
							<td class="read_email_param">Subject:</td>
							<td><span id="read_email_subject"></span></td>
						</tr>
						<tr>
							<td class="read_email_param">To:</td>
							<td><span id="read_email_to"></span></td>
						</tr>
						<tr>
							<td class="read_email_param">CC:</td>
							<td><span id="read_email_cc"></span></td>
						</tr>
						<tr>
							<td class="read_email_param">BCC:</td>
							<td><span id="read_email_bcc"></span></td>
						</tr>
						<tr>
							<td class="read_email_param">From:</td>
							<td><span id="read_email_from"></span></td>
						</tr>
						<tr>
							<td colspan="2"><textarea id="read_email_content" rows="20" cols="60" readonly=""></textarea></td>
						</tr>

					</table>
				</div>
			<div>
			<!-- Extra column for reply/forward forms -->

				<% include ../public_html/html/reply_form.html %>
				<% include ../public_html/html/reply_all_form.html %>
				<% include ../public_html/html/forward_form.html %>
			</div>
		</div>
			<button id="delete_btn" class="styled">Delete</button>
			<button id="reply_btn" class="styled">Reply</button>
			<button id="reply_all_btn" class="styled">Reply All</button>
			<button id="forward_btn" class="styled">Forward</button>
		</div> <!-- modal-content -->
	</div> <!-- End of read email modal -->

	<% include ../public_html/html/chat_modal.html %>

	<% include ../public_html/html/edit_draft_modal.html %>
	<% include ../public_html/html/read_sent_modal.html %>

	<% include ../public_html/html/footer.html %>

	<script src="js/email.js"></script>
	<script src="js/drafts.js"></script>
	<script src="js/sent.js"></script>
	<script src="js/scripts.js"></script>



</body>

</html>
