<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta charset="utf-8" />

	<title>Email Client</title>
	<meta name="description" content="Email client" />
	<meta name="author" content="Cameron A. Craig, Stuart J. Thain, Aidan P. Gallagher, Lee A. Hamilton" />

	<link rel="stylesheet" href="css/style.css" />
	<script src="js/head.js"></script>
	<!-- Hide some nav elements -->
	<style>
		#compose_button,
		#chat_button {
			display: none;
		}
	</style>


	<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<% include partials/header.ejs %>
		<% include ../public_html/html/nav.html %>
			<main class="settings">
				<form action="settings" method="post">
					<fieldset>
						<legend>POP3 Server:</legend>
						POP3 host:<input class="settings" type="text" name="pop3_host" value="<%= settings.pop3_host  %>" /> POP3 port:<input class="settings" type="text" name="pop3_port" value="<%= settings.pop3_port  %>" /> POP3 username:<input class="settings" type="text"
										name="pop3_username" value="<%= settings.pop3_username  %>" /> POP3 password:<input class="settings" type="password" name="pop3_password" value="<%= settings.pop3_password  %>" />
					</fieldset>

					<button class="styled">Apply</button>

				</form>
				<form action="/db_delete_data" method="post">
					<button class="styled">Delete all personal data</button>
				</form>

			</main>

			<% include ../public_html/html/help_modal.html %>

			<% include partials/footer.ejs %>

				<script src="js/scripts.js"></script>

</body>

</html>
